langchain
openai
tiktoken
chromadb
python-dotenv
praw
httpx
beautifulsoup4
lxml
streamlit
fastapi
uvicorn
fastapi
requests 
openai>=1.0.0 
langserve 
langchain-openai 
pycoingecko 
pydantic 
altair 
plotly
python-multipart
